:root {
  --color-primary: linear-gradient(to right bottom, #7ed56f, #28b485);
  --color-secondary: linear-gradient(45deg, #3c3b7a, #91617e);
  --color-tertiary: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: var(--color-tertiary);
  background-image: var(--color-secondary);
}

.heading-1 {
  font-size: 6rem;
}

@media only screen and (max-width: 68.75em) {
  .heading-1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 3rem;
    width: 70%;
    margin: 0 auto;
  }
}

.btn {
  border: none;
  background-image: var(--color-primary);
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin: 1rem;
  -webkit-box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn:focus {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.location__btn {
  z-index: 10;
  position: fixed;
  top: 3vh;
  left: 5vw;
}

@media only screen and (max-width: 50em) {
  .location__btn {
    top: 2rem;
    left: 2rem;
    font-size: 1.5rem;
  }
}

.location__valid-msg {
  z-index: 10;
  position: fixed;
  top: 6rem;
  left: 5vw;
  margin: 1rem;
  -webkit-transform: translateY(50%) scaleY(0);
          transform: translateY(50%) scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f74747), to(#a00d0d));
  background-image: linear-gradient(to right bottom, #f74747, #a00d0d);
  padding: 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  text-align: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4rem;
  margin: 3rem 0;
}

@media only screen and (max-width: 37.5em) {
  .form {
    padding: 2rem;
    margin: 1.5rem 0;
    width: 90%;
  }
}

.form__error-msg {
  font-size: 2rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.form__label {
  font-size: 5rem;
  font-style: bold;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .form__label {
    font-size: 3rem;
    text-align: center;
  }
}

.form__input {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  color: black;
  width: 60%;
  height: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .form__input {
    width: 80%;
  }
}

.form__input:focus {
  outline: none;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.315);
}

.form:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.315);
}

.form::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.315);
}

.form::placeholder {
  color: rgba(0, 0, 0, 0.315);
}

.form__btn {
  font-size: 2rem;
  border-radius: 1rem;
}

.countries-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (35rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 35rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 5rem;
  padding: 5rem 0;
}

.country {
  height: 55rem;
  width: 35rem;
  background-image: var(--color-primary);
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 13rem 13rem min-content min-content;
      grid-template-rows: 13rem 13rem -webkit-min-content -webkit-min-content;
      grid-template-rows: 13rem 13rem min-content min-content;
  overflow: hidden;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.473);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.473);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.country:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.country__img {
  grid-column: 1 / -1;
  width: 18rem;
  height: 13rem;
  padding: 2rem 0;
}

.country__name {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country__info-container {
  grid-column: 1 / -1;
  font-size: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.country__info {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid currentColor;
}

.country__map, .country__neighbours {
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

.country__map {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.country__neighbours {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 3rem 5rem black;
          box-shadow: 0 3rem 5rem black;
  z-index: 10;
}

.modal__btn {
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
}

.modal__btn:hover {
  -webkit-transform: none;
          transform: none;
}

@media only screen and (max-width: 50em) {
  .modal__btn {
    top: 3rem;
    right: 1rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.hidden {
  display: none;
}

.neighbours {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  width: 80vw;
  height: 90vh;
  padding: 5rem;
}

@media only screen and (max-width: 50em) {
  .neighbours {
    height: 100vh;
    width: 100vw;
  }
}

.neighbours__valid-msg {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 3rem;
}

.neighbours__header {
  font-size: 8rem;
  text-align: center;
  padding: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .neighbours__header {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 25em) {
  .neighbours__header {
    font-size: 3rem;
  }
}

.neighbours-container {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  -ms-grid-rows: (12rem)[auto-fit];
      grid-template-rows: repeat(auto-fit, 12rem);
  grid-gap: 4rem;
  justify-items: center;
}

@media only screen and (max-width: 50em) {
  .neighbours-container {
    width: 80%;
    margin: 2rem auto;
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    -ms-grid-rows: (10rem)[auto-fit];
        grid-template-rows: repeat(auto-fit, 10rem);
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 25em) {
  .neighbours-container {
    -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    -ms-grid-rows: (8rem)[auto-fit];
        grid-template-rows: repeat(auto-fit, 8rem);
  }
}

.neighbour__img {
  width: 12rem;
  height: 12rem;
}

@media only screen and (max-width: 50em) {
  .neighbour__img {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 25em) {
  .neighbour__img {
    width: 8rem;
    height: 8rem;
  }
}

@media only screen and (max-width: 50em) {
  .map iframe {
    height: 90vh;
    width: 100vw;
  }
}

.container {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90vw;
  margin: 5vh auto;
  position: relative;
  background-image: var(--color-secondary);
  min-height: 90vh;
}

@media only screen and (max-width: 37.5em) {
  .container {
    padding: 1rem;
    margin: 5vh 0;
    width: 100vw;
  }
}

.header,
.app,
.footer {
  width: 100%;
}

.header {
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding-top: 3rem;
  }
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 50em) {
  .footer {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */