.heading-1 {
  font-size: 6rem;
  @media only screen and (max-width: $bp-large) {
    font-size: 5rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 3rem;
    width: 70%;
    margin: 0 auto;
  }
}

.btn {
  border: none;
  background-image: var(--color-primary);
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin: 1rem;
  box-shadow: 0 0 2rem 0.5rem rgba(black, 0.3);
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  transition: 0.3s all;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }
  &:focus {
    transform: translateY(1px);
  }
}

.location__btn {
  z-index: 10;
  position: fixed;
  top: 3vh;
  left: 5vw;
  @media only screen and (max-width: $bp-medium) {
    top: 2rem;
    left: 2rem;
    font-size: 1.5rem;
  }
}
.location__valid-msg {
  z-index: 10;
  position: fixed;
  top: 6rem;
  left: 5vw;
  margin: 1rem;
  transform: translateY(50%) scaleY(0);
  transform-origin: top;
  background-image: linear-gradient(
    to right bottom,
    rgb(247, 71, 71),
    rgb(160, 13, 13)
  );
  padding: 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  text-align: center;
  transition: 0.3s all;
}

.form {
  display: flex;
  width: max-content;
  flex-direction: column;
  align-items: center;
  background-color: rgba(black, 0.05);
  padding: 4rem;
  margin: 3rem 0;

  @media only screen and (max-width: $bp-small) {
    padding: 2rem;
    margin: 1.5rem 0;
    width: 90%;
  }
  &__error-msg {
    font-size: 2rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s all;
  }
  &__label {
    font-size: 5rem;
    font-style: bold;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 3rem;
      text-align: center;
    }
  }
  &__input {
    padding: 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    color: black;
    width: 60%;
    height: 4rem;

    @media only screen and (max-width: $bp-small) {
      width: 80%;
    }
  }
  &__input:focus {
    outline: none;
  }
  &__input:focus::placeholder {
    opacity: 0;
  }
  &::placeholder {
    color: rgba(0, 0, 0, 0.315);
  }

  &__btn {
    font-size: 2rem;
    border-radius: 1rem;
  }
}
.countries-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  justify-content: center;
  align-items: center;
  grid-gap: 5rem;
  padding: 5rem 0;
}
.country {
  height: 55rem;
  width: 35rem;
  background-image: var(--color-primary);
  padding: 1.5rem;
  border-radius: 1.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 13rem 13rem min-content min-content;
  overflow: hidden;
  justify-items: center;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.473);
  transition: 0.3s all;
  &:hover {
    transform: scale(1.05);
  }
  &__img {
    grid-column: 1 / -1;
    width: 18rem;
    height: 13rem;
    padding: 2rem 0;
  }

  &__name {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__info-container {
    grid-column: 1 / -1;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__info {
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid currentColor;
  }

  &__map,
  &__neighbours {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
  }
  &__map {
    grid-column: 1 / 2;
  }

  &__neighbours {
    grid-column: 2 / 3;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgb(0, 0, 0);
  z-index: 10;

  &__btn {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;

    &:hover {
      transform: none;
    }

    @media only screen and (max-width: $bp-medium) {
      top: 3rem;
      right: 1rem;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.hidden {
  display: none;
}

.neighbours {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  width: 80vw;
  height: 90vh;
  padding: 5rem;

  @media only screen and (max-width: $bp-medium) {
    height: 100vh;
    width: 100vw;
  }

  &__valid-msg {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 3rem;
  }
  &__header {
    font-size: 8rem;
    text-align: center;
    padding: 2rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 3rem;
    }
  }

  &-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(auto-fit, 12rem);
    grid-gap: 4rem;
    justify-items: center;

    @media only screen and (max-width: $bp-medium) {
      width: 80%;
      margin: 2rem auto;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-template-rows: repeat(auto-fit, 10rem);
      grid-gap: 2rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      grid-template-rows: repeat(auto-fit, 8rem);
    }
  }
}
.neighbour {
  &__img {
    width: 12rem;
    height: 12rem;
    @media only screen and (max-width: $bp-medium) {
      width: 10rem;
      height: 10rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      width: 8rem;
      height: 8rem;
    }
  }
}

.map {
  iframe {
    @media only screen and (max-width: $bp-medium) {
      height: 90vh;
      width: 100vw;
    }
  }
}

.spinner {
  margin: 0 auto;
  text-align: center;

  &--map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  svg {
    height: 6rem;
    width: 6rem;
    fill: black;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
