.container {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  margin: 5vh auto;
  position: relative;
  min-height: 90vh;

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
    margin: 5vh 0;
    width: 100vw;
  }
}

.header,
.app,
.footer {
  width: 100%;
}
.header {
  text-align: center;
  @media only screen and (max-width: $bp-small) {
    padding-top: 3rem;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  align-self: flex-end;
  @media only screen and (max-width: $bp-medium) {
    font-size: 2rem;
  }
}
